<c-container fluid>
<c-card class="mb-3" [ngStyle]="{'max-width.px': 540}">
  <c-row class="g-0">
    <c-col [md]="4">
      <img [cCardImg] src="{{grupo.categoriaGrupo.img.path}}">
    </c-col>
    <c-col [md]="1"></c-col>
    <c-col [md]="6">
    <c-card-body cCol [md]="8">
      <h1 cCardTitle>Grupo {{grupo.nombre}}</h1>
      <p cCardText>
        Categoría: {{grupo.categoriaGrupo.nombreGrupo}}
      </p>
      <p cCardText>
        <small class="text-medium-emphasis">
          <button mat-raised-button color="primary"  (click)="editar(grupo.id)">Editar</button>
          <button mat-raised-button color="accent"  (click)="gasto(grupo.id)">Ver Gastos</button>
        </small>
      </p>
    </c-card-body>
    </c-col>
  </c-row>
</c-card>
</c-container>
