<div fxLayout="row" fxLayoutAlign="space-evenly center" class="me-auto mb-2 mb-lg-0">
<h1 class="align-content-center">MIS GRUPOS</h1><br>
</div>
  <button mat-raised-button (click)="crearGrupo()">Crear grupo</button>
&nbsp;
<c-container fluid>
  <c-row [gutter]="4" class="mb-3" [md]="3" [xs]="1">
    <c-col *ngFor="let grupo of grupos; index as i;">
      <c-card class="h-100">
        <img cCardImg="top" src="{{grupo.categoriaGrupo.img.path}}">
        <c-card-body>
          <h5 cCardTitle>Categoría: {{grupo.categoriaGrupo.nombreGrupo}}</h5>
          <p cCardText>{{grupo.nombre}}</p>
        </c-card-body>
        <c-card-footer>
          <small class="text-medium-emphasis">
            <button mat-raised-button (click)="detalle(grupo.id)">Ver detalle</button>
            &nbsp;<button mat-raised-button color="primary"  (click)="editar(grupo.id)">Editar</button>
          </small>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row>
</c-container>
