<div class="centrar">
  <form class="edit-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <h1>EDITAR GRUPO</h1>
  <mat-form-field>
    <mat-label>Nombre: </mat-label>
    <input matInput [placeholder]="grupo.nombreGrupo" formControlName="nombre" id="nombre">
    <mat-error *ngIf="editForm.get('nombre')?.hasError('required')">El nombre es obligatorio</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Categoria </mat-label>
    <mat-select [placeholder]="nombreG" formControlName="categoriaGrupo" name="categoriaGrupo" id="categoriaGrupo">
      <ng-container *ngFor="let cat of categorias">
        <mat-option *ngIf="cat.id!=grupo.categoriaGrupo.id" [value]="cat">
          {{ cat.nombreGrupo }}
        </mat-option>
      </ng-container>

    </mat-select>
    <mat-error *ngIf="editForm.get('categoriaGrupo')?.hasError('required')">La categoria es obligatoria</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit">Editar grupo</button>
</form>
</div>
